<div class="container has-text-centered pt5">
  <div>
      <%= link_to 'Пользователи', { controller: "users" }, class: "button is-large" %>
      <%= link_to 'Предметы', { controller: "cources" }, class: "button is-large" %>
  </div>
</div>
