    <div class="field is-grouped">
      <div class="control">
        <a class="button is-large" href="/users">Пользователи</a>
      </div>
      <div class="control">
        <a class="button is-large" href="/cources">Предметы</a>
      </div>
    </div>
