<div class="container has-text-centered">
    <h class="title is-4">Задания на <%= @today %><%= @date %></h> <a class="tag" href="/welcome/calendar">Выбрать другой день</a>
</div>


<!--
<div class="columns">
    <div class="column is-two-thirds">
        <div class="container">
            <h class="title is-4">Математика</h>
        </div>
        <article class="panel">
            <p class="panel-heading">
                Русский язык
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-warning" type="text" placeholder="Search">
                    <span class="icon is-left">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
                </p>
            </div>
        </article>
        <article class="panel">
            <p class="panel-heading">
                Литература
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-warning" type="text" placeholder="Search">
                    <span class="icon is-left">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
                </p>
            </div>
        </article>
        <article class="panel">
            <p class="panel-heading">
                Окружающий мир
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-warning" type="text" placeholder="Search">
                    <span class="icon is-left">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
                </p>
            </div>
        </article>

        <article class="panel">
            <p class="panel-heading">
                ИЗО
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-warning" type="text" placeholder="Search">
                    <span class="icon is-left">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
                </p>
            </div>
        </article>
        <article class="panel">
            <p class="panel-heading">
                Технология
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-warning" type="text" placeholder="Search">
                    <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
            </span>
                </p>
            </div>
        </article>

    </div>

    <div class="column" id="app">
        <div class="container">

            <nav class="panel is-size-7">
                <p class="panel-heading">
                    Самооценка учащихся
                </p>

                Оцени свою работу сегодня:
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <tr>
                        <th><abbr title="Name">Предмет</abbr></th>
                        <th><abbr title="Math">Самооценка</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Математика</td>
                        <td>
                        <select v-model="selected_math">
                                <option></option>
                                <option>Отлично</option>
                                <option>Нормально</option>
                                <option>Плоховато</option>
                            </select>
                            Отправлено: {{selected_math}}
                        </td>
                    </tr>

                    <tr>
                        <td>Русский язык</td>
                        <td>
                        <select v-model="selected_russian">
                                <option></option>
                                <option>Отлично</option>
                                <option>Нормально</option>
                                <option>Плоховато</option>
                            </select>
                            Отправлено: {{selected_russian}}
                        </td>
                    </tr>

                    <tr>
                        <td>Литература</td>
                        <td>
                        <select v-model="selected_reading">
                                <option></option>
                                <option>Отлично</option>
                                <option>Нормально</option>
                                <option>Плоховато</option>
                            </select>
                            Отправлено: {{selected_reading}}
                        </td>
                    </tr>

                    <tr>
                        <td>Окружающй мир</td>
                        <td>
                        <select v-model="selected_world">
                                <option></option>
                                <option>Отлично</option>
                                <option>Нормально</option>
                                <option>Плоховато</option>
                            </select>
                            Отправлено: {{selected_world}}
                        </td>
                    </tr>

                </table>


                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <tr>
                        <th><abbr title="Name">Ученик</abbr></th>
                        <th><abbr title="Math">Мат</abbr></th>
                        <th><abbr title="RussLang">Рус</abbr></th>
                        <th><abbr title="World">Окр</abbr></th>
                        <th><abbr title="Reading">Лит</abbr></th>
                        <th><abbr title="Painting">ИЗО</abbr></th>
                        <th><abbr title="Labor">Труд</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Грушин</td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Иванов</td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Иванов</td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="white">
                            <ion-icon name="partly-sunny-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="grey">
                            <ion-icon name="rainy-outline" size="large"></ion-icon>
                        </td>
                        <td bgcolor="yellow">
                            <ion-icon name="sunny-outline" size="large"></ion-icon>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </nav>
        </div>
    </div>
</div>
-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            selected_math: '',
            selected_russian: '',
            selected_reading: '',
            selected_world: ''

        }
    });
</script>