<div class="container">
  <h1 class="title">Новый предмет</h1>

    <%= form_with model: @cource, local: true do |form| %>    
        <div class="field">
            <label class="label">Название</label>
            <div class="control">                                
                <%= form.text_field :title, class: "input" %>
            </div>
        </div>                
        <div class="field is-grouped">
          <div class="control">
            <%= form.submit "Добавить", :class => "button" %>
          </div>
          <div class="control">
            <a class="button" href="/users">Отмена</a>
          </div>
        </div>
    <% end %>
</div>
