<div class="container pa3">
    <h class="title is-4"><%= solution.user.fullname %></h>

    <div class="container pt2">
        <%= render partial: "document", collection: solution.documents %>
    </div>
</div>
